<h1>This is the last quotation: <%= @current_quotation_sales %></h1>
<h2>This is the hight quotation of the day <%= @high_quotation %></h2>
<p>Been notified when the quotation reaches a predefined standard quotation</p>
